$border-radius-base:        0;
$border-radius-large:       0;
$border-radius-small:       0;
$input-border:              #ddd;
$image-path:                '/packages/schedulizer/images/';
$icomoon-font-path:         '/packages/schedulizer/css/_fonts';

@import 'compass';
@import 'dependencies/icomoon';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins';

// Enable calendar @ 100% fluid
#ccm-dashboard-content.container-fluid {padding:0;}//{padding-top:49px;padding-right:20px;}

.ccm-ui .schedulizer-app {
  // Override concrete5 defaults
  @import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/forms';
  @import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/buttons';
}

.schedulizer-app {margin:0/* -20px;*/;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-moz-font-smoothing:antialiased;
  @import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding';
  @import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/normalize';
  @import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/type';
  @import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/grid';
  @import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/buttons';
  @import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/button-groups';
  @import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/forms';
  @import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/navs';
  @import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/tables';
  @import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/utilities';
  @import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities';
  @import 'dependencies/angular-strap';
  @import 'dependencies/calendry';
  @import 'dependencies/selectjs';

  // Remove highlights
  input, select, textarea, button, a {&:focus {outline:none !important;}}

  .not-stupid-header-style {padding:1rem 0;background:#f1f1f1;position:relative;z-index:2;
    h3 {margin:0;padding:4px 0;position:relative;cursor:pointer;color:#006699;
      i {position:absolute;top:0;left:100%;margin-left:2px;font-size:20px;opacity:0;@include transform(translateX(-100%));@include transition(all 0.25s ease);}
      &:hover {text-decoration:underline;
        i {opacity:1;@include transform(translateX(0));}
      }
    }
  }

  .ccm-dashboard-content-full {margin: 0 !important;
    .app-wrap {height:calc(100% - 68px);position:relative;@include transition(all 0.25s ease);@include transform(translateY(0));
      .calendar-event-search {padding:1rem 0;height:100%;background:#414d59;color:#97aabc;position:absolute;bottom:100%;left:0;right:0;width:100%;overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch;
        .clear-fields {position:absolute;top:0;right:0;z-index:2;}
      }
    }
    &.search-open {overflow:hidden;
      .app-wrap {@include transform(translateY(100%));}
    }
    &.search-page {
      input.date-selector{display:inline-block;max-width:90px;}
      table.event-search-table {
        tbody td {padding-left:10px;padding-right:10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
          a {padding:0;}
          .text-wrap {max-width:90%;display:block;white-space:pre-line;overflow:hidden;text-overflow:ellipsis;}
        }
      }
    }
  }

  // Custom Styles within .schedulizer-app
  label {font-weight:normal;
    &.btn input[type="checkbox"] {visibility:hidden;position:absolute;}
    &.color-thumb {position:relative;display:inline-block;width:auto;height:auto;padding:15px;margin:0 0 0 7px;cursor:pointer;@include border-radius(50%);
      &.active::before {display:inline-block;content:"\e116";font-family:'icomoon';font-size:20px;color:$brand-success;position:absolute;top:50%;left:50%;@include transform(translate(-50%,-50%));}
      input {visibility:hidden;position:absolute;}
    }
  }

  [select-wrap]{display:inline-block;position:relative;z-index:2;background-color:#fff;
    &::after {content: "\e608";font-family:'icomoon';position:absolute;top:50%;right:5px;font-size:24px;z-index:-1;@include transform(translateY(-50%));}
    &.block {display:block;}
    select, select.form-control {padding-right:25px;text-transform:capitalize;-webkit-appearance:none;-moz-appearance:none;appearance:none;background:transparent;@include border-radius(0);}
  }

  .calendar-wrap {
    &.updating::after {position:absolute;display:block;content:'';top:0;right:0;bottom:0;left:0;width:100%;height:100%;background:rgba(50,50,50,0.35) url('#{$image-path}/spinner.svg') no-repeat 50% 50%;z-index:5;}
  }

  .tbl-collection-list {
    a {cursor:pointer;}
    .split-row {text-align:center;font-size:12px;
      &.divided {border-bottom:1px dotted #394F63;}
      span {padding:5px 8px;}
    }
    .active-status {padding:0;line-height:0;display:inline-block;width:8px;height:8px;border-radius:50%;
      &.active {background:#42c648;}
      &.inactive {background:#fd3d39;}
    }
  }
}

@media screen and (min-width:1000px) and (min-height:820px){
  html {overflow:hidden;}
}

.ui-select-widget {
  .ui-select-container.ui-select-multiple {padding:4px 3px 3px 3px;
    &.open ul {padding:3px 0;}
    .ui-select-match-item {margin:0 3px 0 0;}
  }

  input[type="text"]{@include box-shadow(none);}
  ul {list-style:none;padding:0;margin:0;
    a {padding-left:10px;}
  }
}

// Custom modal
[modal-window]{font-family:$font-family-sans-serif;font-size:16px;width:100%;height:100%;margin:0;visibility:hidden;opacity:0;display:block;position:fixed;top:0;left:0;background:rgba(240,240,240,0.95);z-index:-1;@include transform(translateX(-100%) translateZ(0));@include transition(all 0.25s ease);
  a {cursor:pointer;}
  &.open {visibility:visible;opacity:1;z-index:999;@include transform(translateX(0) translateZ(0));}
  .default-closer {position:absolute;top:49px;right:0;font-size:3rem;line-height:1;padding:0;z-index:2;cursor:pointer;@include transform(rotate(0));@include transition(all 0.25s ease);
    &:hover {text-decoration:none;@include transform(rotate(-90deg));}
  }
  .loading {
    img {padding-bottom:20px;}
  }
  .modal-inner {padding:30px 0;height:calc(100% - 48px);position:relative;top:48px;overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch;}
  //.modal-inner {padding-top:34px;display:table-cell;width:100%;height:100%;vertical-align:middle;text-align:center;}
  .container-fluid {width:90%;text-align:left;}

  form {
    [data-calendar-owner-picker]{font-weight:bold;display:block;padding:1rem;background:#f5f5f5;border:1px solid #e5e5e5;}

    .tab-pane {padding:15px 15px 0;margin-bottom:($grid-gutter-width/2);border:1px solid #ddd;border-top:0;position:relative;background:#fff;}

    .form-group {position:relative;
      &.white {background:#fff;}
    }

    &.calendar {max-width:650px;}

    &.event {
      .tab-pane {
        .remove-time-entity {position:absolute;top:0;right:0;}
      }

      .ccm-file-selector {@include border-radius(0);}
      .redactor-editor {padding:10px;max-height:350px;}
      .input-title {font-weight:200;border:0;outline:0;padding:5px;margin-bottom:($grid-gutter-width/2);border-bottom:1px solid $input-border;height:auto;font-size:180%;background:transparent;@include box-shadow(none);}

      // start/end time display
      .row {
        &.is-all-day {
          .form-group {display:none;}
          .form-group:first-of-type {display:block;width:auto;}
          .end-dt {display:none;}
        }
        &.is-open-ended {
          .end-dt {display:none;}
        }
      }

      // Nullifiers
      .has-nullifiers {font-size:13px;display:inline-block;padding:0 5px;}
      .nullifiers-list {
        .btn {width:25%;position:relative;
          i {font-size:18px;line-height:0;position:relative;top:4px;margin-left:4px;}
        }
      }
    }

    &.collection-event-form {
      .col-left-bar {position:absolute;top:0;left:0;bottom:0;width:220px;height:100%;background:#333c46;color:#97aabc;
        a {color:inherit;}
        ul {padding:1rem;margin:0;
          li {
            a {display:block;padding:0.25rem 0;}
            &.active a {color:#56E1A2;font-weight:bold;}
          }
        }
      }
      .col-right-main {position:absolute;top:0;right:0;width:calc(100% - 220px);height:100%;padding:1rem;
        .version-stat {padding-bottom:1rem;margin-bottom:1rem;border-bottom:1px solid #ccc;}
      }
    }
  }
}

@media screen and (min-width:$screen-sm){
  [modal-window]{
    form {
      .save-entity img {max-height:18px;}
      .delete-entity {padding-right:($grid-gutter-width/2);}
    }

    form.event {
      .title-group {
        input[type="text"] {padding-right:6rem;}
        [select-wrap]{position:absolute;top:4px;right:0;
          select {text-transform:uppercase;font-weight:bold;}
          &.active-true select {color:$alert-success-text;border-color:$alert-success-border;}
          &.active-false select {color:$alert-danger-text;border-color:$alert-danger-border;}
        }
      }
      .time-widgets {font-size:0;line-height:0;
        input[type="text"]{display:block;}
        .form-group {display:inline-block;width:50%;font-size:$font-size-base;line-height:1;
          &:nth-of-type(2) input {border-left:0;}
        }
      }
    }
  }
}

// Scrolling on internal dashboard content
div#ccm-dashboard-content {overflow-y:scroll;
  > header.ccm-dashboard-page-header {margin:0 0 30px;padding:30px;
    h1 {margin:0;}
  }
  .schedulizer-system-page-wrap {padding-left:30px;padding-right:30px;padding-bottom:100px;max-width:768px;margin:0 auto;
    .ccm-dashboard-header-buttons {top:28px;}
  }
}

// Overflow stuff for the modal
html.schedulizer-modal {overflow-y:hidden;}

// "Alerter" notifications
[alerter]{font-family:$font-family-base;font-size:13px;display:block;position:fixed;top:-100%;left:50%;width:100%;max-width:550px;background:#fff;z-index:99999;@include box-shadow(0 0 20px rgba(0,0,0,0.25));@include transform(translateX(-50%));@include transition(all 0.35s ease);
  &.open {top:0;}
  .alert-item {display:block;padding:1rem;position:relative;
    [alert-closer] {display:inline-block;padding:0.5rem;line-height:1;position:absolute;top:0;right:0;cursor:pointer;}
    &.type-danger {background:$alert-danger-bg;color:$alert-danger-text;}
    &.type-success {background:$alert-success-bg;color:$alert-success-text;}
  }
}
